/**
 *  TABLE OF CONTENTS
 *
 *  1.0 - Settings
 *    1.1 - Normalize.css
 *    1.2 - Custom properties
 *  2.0 - Base Styles
 *  3.0 - Components
 *    3.1 - Links
 *    3.2 - Buttons
 *  4.0 - Layout
 *    4.1 - Header
 *    4.2 - Main
 *      4.2.1 - Hero Section
 *      4.1.2 - Advantages Section
 *      4.1.3 - Premium Section
 *      4.1.4 - Search Section
 *      4.1.5 - Guides Section
 *      4.1.6 - Research Section
 *      4.1.7 - Brands Section
 *    4.3 - Footer
 */

/*==================================*\
  1.0 - Settings
\*==================================*/

/* === 1.1 - Normalize.css ===*/
@import "normalize.css";

/* === 1.2 - Custom properties ===*/
:root {
  --color-green: #6b9c42;
  --color-blue: #065c7e;
  --color-cyan: #009b9e;
  --color-light-grey: #f2f2f2;
  --color-grey: #777;
  --color-dark-grey: #666;
  --font-size-button: 2.1rem;
  --font-size-address: 1.8rem;
  --font-size-h1: 4.2rem;
  --font-size-h2: 4.2rem;
  --font-size-h3: 3.6rem;
  --font-size-h4: 2.4rem;
  --font-size-text: 1.5rem;
  --font-family: "Lato", sans-serif;
}
